<body>
  <link rel="stylesheet" type="text/css" href="/css/styling.css">
  <h1> Welcome <%= @name %> </h1>
  <form action="/post-peep" method="post">
    <input type="text" name="peep">
    <input type="submit" value="Peep">
  </form>
  <p> <%= @peep %> </p>
</body>
